In [ ]:
"""
Filter data file with unemployment data and median household income data from USDA to year 2019.
Pivot table from tall to wide.

Output to pickle
"""

In [1]:
import pandas as pd
import numpy as np
import pickle

In [4]:
unemp_inc_all = pd.read_csv('../data/USDA_unemp_inc.csv')
unemp_inc_all.shape

(42213, 5)

In [6]:
unemp_inc_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42213 entries, 0 to 42212
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   fips_txt   42213 non-null  int64
 1   Stabr      42213 non-null  object
 2   area_name  42213 non-null  object
 3   Attribute  42213 non-null  object
 4   Value      42213 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 1.6+ MB

In [7]:
unemp_inc_all.head()

   fips_txt Stabr      area_name                  Attribute         Value
0         0    US  United States  Civilian_labor_force_2000  1.426017e+08
1         0    US  United States              Employed_2000  1.369047e+08
2         0    US  United States            Unemployed_2000  5.696987e+06
3         0    US  United States     Unemployment_rate_2000  3.995035e+00
4         0    US  United States  Civilian_labor_force_2019  1.631001e+08

In [8]:
unemp_inc_all.Attribute.value_counts()

Unemployment_rate_2019                       3272
Civilian_labor_force_2019                    3272
Employed_2019                                3272
Unemployed_2019                              3272
Employed_2000                                3270
Civilian_labor_force_2000                    3270
Unemployed_2000                              3270
Unemployment_rate_2000                       3270
Metro_2013                                   3222
Rural_urban_continuum_code_2013              3219
Urban_influence_code_2013                    3219
Median_Household_Income_2019                 3193
Med_HH_Income_Percent_of_State_Total_2019    3192
Name: Attribute, dtype: int64

In [16]:
unemp_inc_all.set_index(['Attribute'], inplace=True)
unemp_inc_all.head()

                           fips_txt Stabr      area_name         Value
Attribute
Civilian_labor_force_2000         0    US  United States  1.426017e+08
Employed_2000                     0    US  United States  1.369047e+08
Unemployed_2000                   0    US  United States  5.696987e+06
Unemployment_rate_2000            0    US  United States  3.995035e+00
Civilian_labor_force_2019         0    US  United States  1.631001e+08

In [36]:
#  don't need 2000 data elements


unemp_inc_2019 = unemp_inc_all.drop(['Employed_2000', 'Civilian_labor_force_2000', 
                                     'Unemployed_2000', 'Unemployment_rate_2000'], 
                                    axis=0).reset_index()

In [37]:
unemp_inc_2019.head()

                      Attribute  fips_txt Stabr      area_name         Value
0     Civilian_labor_force_2019         0    US  United States  1.631001e+08
1                 Employed_2019         0    US  United States  1.571152e+08
2               Unemployed_2019         0    US  United States  5.984808e+06
3        Unemployment_rate_2019         0    US  United States  3.669409e+00
4  Median_Household_Income_2019         0    US  United States  6.571200e+04

In [25]:
unemp_inc_2019.Attribute.value_counts()

Unemployment_rate_2019                       3272
Civilian_labor_force_2019                    3272
Employed_2019                                3272
Unemployed_2019                              3272
Metro_2013                                   3222
Urban_influence_code_2013                    3219
Rural_urban_continuum_code_2013              3219
Median_Household_Income_2019                 3193
Med_HH_Income_Percent_of_State_Total_2019    3192
Name: Attribute, dtype: int64

In [26]:
unemp_inc_2019['area_name'].value_counts()

District of Columbia                               15
Coweta County, GA                                   9
Bannock County, ID                                  9
Wilbarger County, TX                                9
Lee County, NC                                      9
                                                   ..
United States                                       5
Puerto Rico                                         4
Skagway-Hoonah-Angoon Census Area, AK               1
Wrangell-Petersburg Census Area, AK                 1
Prince of Wales-Outer Ketchikan Census Area, AK     1
Name: area_name, Length: 3274, dtype: int64

In [27]:
unemp_inc_2019[unemp_inc_2019['area_name'] == 'District of Columbia']

,Attribute,fips_txt,Stabr,area_name,Value
2927,Civilian_labor_force_2019,11000,DC,District of Columbia,409969.0
2928,Employed_2019,11000,DC,District of Columbia,387482.0
2929,Unemployed_2019,11000,DC,District of Columbia,22487.0
2930,Unemployment_rate_2019,11000,DC,District of Columbia,5.5
2931,Median_Household_Income_2019,11000,DC,District of Columbia,90395.0
2932,Med_HH_Income_Percent_of_State_Total_2019,11000,DC,District of Columbia,100.0
2933,Rural_urban_continuum_code_2013,11001,DC,District of Columbia,1.0
2934,Urban_influence_code_2013,11001,DC,District of Columbia,1.0
2935,Metro_2013,11001,DC,District of Columbia,1.0
2936,Civilian_labor_force_2019,11001,DC,District of Columbia,409969.0
2937,Employed_2019,11001,DC,District of Columbia,387482.0
2938,Unemployed_2019,11001,DC,District of Columbia,22487.0
2939,Unemployment_rate_2019,11001,DC,District of Columbia,5.5
2940,Median_Household_Income_2019,11001,DC,District of Columbia,90395.0
2941,Med_HH_Income_Percent_of_State_Total_2019,11001,DC,District of Columbia,100.0

In [28]:
unemp_inc_2019[unemp_inc_2019['area_name'] == 'Lee County, NC']

,Attribute,fips_txt,Stabr,area_name,Value
17681,Rural_urban_continuum_code_2013,37105,NC,"Lee County, NC",4.000000
17682,Urban_influence_code_2013,37105,NC,"Lee County, NC",5.000000
17683,Metro_2013,37105,NC,"Lee County, NC",0.000000
17684,Civilian_labor_force_2019,37105,NC,"Lee County, NC",26174.000000
17685,Employed_2019,37105,NC,"Lee County, NC",24995.000000
17686,Unemployed_2019,37105,NC,"Lee County, NC",1179.000000
17687,Unemployment_rate_2019,37105,NC,"Lee County, NC",4.500000
17688,Median_Household_Income_2019,37105,NC,"Lee County, NC",53114.000000
17689,Med_HH_Income_Percent_of_State_Total_2019,37105,NC,"Lee County, NC",92.552452

In [32]:
unemp_inc_2019[unemp_inc_2019['area_name'] == 'Autauga County, AL']

,Attribute,fips_txt,Stabr,area_name,Value
11,Rural_urban_continuum_code_2013,1001,AL,"Autauga County, AL",2.000000
12,Urban_influence_code_2013,1001,AL,"Autauga County, AL",2.000000
13,Metro_2013,1001,AL,"Autauga County, AL",1.000000
14,Civilian_labor_force_2019,1001,AL,"Autauga County, AL",26172.000000
15,Employed_2019,1001,AL,"Autauga County, AL",25458.000000
16,Unemployed_2019,1001,AL,"Autauga County, AL",714.000000
17,Unemployment_rate_2019,1001,AL,"Autauga County, AL",2.700000
18,Median_Household_Income_2019,1001,AL,"Autauga County, AL",58233.000000
19,Med_HH_Income_Percent_of_State_Total_2019,1001,AL,"Autauga County, AL",112.481888

In [34]:
unemp_inc_pivot = pd.pivot_table(unemp_inc_2019,
                                 values='Value', 
                                 columns='Attribute', 
                                 index=['fips_txt','Stabr', 'area_name']).reset_index(drop=False)

unemp_inc_pivot.head()

Attribute,fips_txt,Stabr,area_name,Civilian_labor_force_2019,Employed_2019,Med_HH_Income_Percent_of_State_Total_2019,Median_Household_Income_2019,Metro_2013,Rural_urban_continuum_code_2013,Unemployed_2019,Unemployment_rate_2019,Urban_influence_code_2013
0,0,US,United States,163100055.0,157115247.0,NaN,65712.0,NaN,NaN,5984808.0,3.669409,NaN
1,1000,AL,Alabama,2241747.0,2174483.0,100.000000,51771.0,NaN,NaN,67264.0,3.000000,NaN
2,1001,AL,"Autauga County, AL",26172.0,25458.0,112.481888,58233.0,1.0,2.0,714.0,2.700000,2.0
3,1003,AL,"Baldwin County, AL",97328.0,94675.0,115.645828,59871.0,1.0,3.0,2653.0,2.700000,2.0
4,1005,AL,"Barbour County, AL",8537.0,8213.0,69.482918,35972.0,0.0,6.0,324.0,3.800000,6.0

In [ ]:
with open('unemp_inc_pivot.pickle', 'wb') as to_write:
    pickle.dump(unemp_inc_pivot, to_write)